<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AccessDbODBC" connectionString="Driver={0};Dbq={1};"
			providerName="System.Data.Odbc" />
	</connectionStrings>
</configuration>